/* 
colors
yellow: #ffbe00;
navy: #192837;
 */





* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------- temporary styles for structural html -------*/

section {
    border: 2px solid rgb(225,225,225);
}

body {
    font-family: 'Catamaran', sans-serif;
    color: #192837;
}

/* image styles */
.bg-image {
    background-image: url('images/the-sleep-co3.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* Universal styles & utility classes */

.padded     { padding: 5%; }
.padded-sm  { padding: 1rem; }

.bg-dark { 
    background-color: #192837;
    color: white; 
}

.tall-80   { min-height: 80vh;  }
.tall-90   { min-height: 90vh;  }
.tall-100  { min-height: 100vh; }


/* typography styles */

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}


.featured-text          { color: #ffbe00; }
.font-weight-light      { font-weight: 200;}
.font-weight-normal     { font-weight: normal; }
.font-weight-extra-bold { font-weight: 800; }

.text-left      { text-align: left;}
.text-center    { text-align: center;}
.text-right     { text-align: right; }


/* header styles */

header {
    background-image: url('images/the-sleep-co6.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    line-height: 1;
}